{% extends "adminsite/dashboard.html" %}

{% block admincontent %}

<main id="main" class="main">

  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Collections Data</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Collections</li>
          </ol>
        </nav>
      </div>
      <div>
        <a href="{% url 'maincategory_list' %}" class="btn btn-primary">Show Collections</a>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="row container d-flex justify-content-center align-items-center">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Update Collections</h5>

            <!-- Add the form tag -->
            <form method="post" enctype="multipart/form-data" onsubmit="return validateFields()">
              <!-- Include CSRF token -->
              {% csrf_token %}

              <!-- Display form errors -->
              <div id="message-div">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
                {% endfor %}
                {% endfor %}
              </div>

              <!-- Include form fields with existing data -->
              <div class="row mb-3">
                <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  {{ form.name }}
                </div>
                <label for="titleInput" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  {{ form.description }}
                </div>
                <label for="titleInput" class="col-sm-2 col-form-label">Discount</label>
                <div class="col-sm-10">
                  {{ form.discount }}
                </div>
                <div class="row mb-3">
                  <label for="imageInput" class="col-sm-2 col-form-label">Upload Image</label>
                  <div class="col-sm-10">
                    {{ form.image }}
                    
                    <!-- <img src="{{ form.instance.image.url }}" alt="Product Image" style="max-width: 100px;"> -->
                    <small class="form-text text-muted">Accepted formats: JPG, JPEG, PNG.</small>
  
                  </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <a href="{% url 'category_list' %}">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                  </div>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
 
</main><!-- End #main -->

{% endblock %}