# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env
.env


# IDEs
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Private keys
*.pem
*.key
*.crt

# Temporary files
*.tmp
*.swp
